.navbar-brand span {
  font-size: 1.1rem;
}

.navbar {
  background-color: #439bff96 !important;
}

.bg-primary {
  background-color: #d0e6ff !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #2e4450;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  color: #fff;
  background: #527c88;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  background: #527c88;
}

#header img {
  width: 100%;
}

.btn-outline-primary {
  background-color: #439bff;
  border-color: #439bff;
  color: white;
}

.divider-custom-icon {
  color: #439bff !important;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0a7dff;
  border-color: #0a7dff;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem #cccccc80;
}

.text-blue {
  color: #439bff;
}

.fa-star {
  color: #ffb700;
  font-size: 1.2rem;
}

.text-primary {
  color: #495c8a !important  ;
}

.portfolio-modal-title {
  font-size: 2rem !important;
}

.step .group {
  -webkit-box-shadow: 4px 4px 15px -2px #c5c5c5;
  box-shadow: 4px 4px 15px -2px #c5c5c5;
  border-radius: 15px;
}

.carousel-caption p {
  background-color: #439bff96 !important;
  padding: 5px 3px;
  border-radius: 5px;
}

.event-container {
  color: white;
  border-radius: 15px;
}

.event-wrapper {
  text-transform: none;
}

.centrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bg-horarios {
  background-color: #d0e6ff;
  text-transform: none;
}

#form-horarios {
  margin: 2rem 0;
}

.data {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: #ffffff;
  color: black;
  text-transform: none;
  border-radius: 15px;
}

.cita-fecha {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}
/* 
#header {
  background-image: url("../assets/img/logo-2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: ;
} */
