.navbar-brand span {
  font-size: 1.1rem;
}

.navbar {
  background-color: #439bff96 !important;
}

.bg-primary {
  background-color: #d0e6ff !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #2e4450;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  color: #fff;
  background: #527c88;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  background: #527c88;
}

#header img {
  width: 100%;
}

.btn-outline-primary {
  background-color: #439bff;
  border-color: #439bff;
  color: white;
}

.divider-custom-icon{
  color: #439bff !important;
}

.text-primary {
  color: #495c8a !important  ;
}
/* 
#header {
  background-image: url("../assets/img/logo-2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: ;
} */
